.btn {
    border: none;
    text-align: center;
    padding: var(--spacing-2);
    text-transform: uppercase;
    border-radius: var(--spacing-2);
    color: var(--mui-palette-primary-white);
    background-color: var(--mui-palette-primary-green);
}

.iconBtn {
    top: 20px;
    right: 20px;
    border: none;
    position: absolute;
    background-color: transparent;
}